@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #020205;
    --foreground: #e2e8f0; /* slate-200 */
  }
  
  html,
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
/* Forza deploy Vercel per fix mobile */